<%= pluralize(@users.size, 'user') %> found

<p>

<% @users.each do |user| %>
      <tr>
      	<br>

        <%= image_tag user.avatar.url(:thumb) %>
        <td><h4><%= user.name %></h4></td>
        <td><%= user.provider %></td><br>
        <td><% user.locations.each do |location| %></td>
          <%= location.country_name  %>

          <br>
        <% end %>
         <br>
        </td>
        <td class="actions">

          
        <button type="button" class="btn btn-default navbar-btn">
	         <%= link_to("see more!", {:action => 'show', :id => user.id}, :class => 'action show') %>
        </button>
        	<%= link_to("edit", {:action => 'edit', :id => user.id}, :class => 'action show') %>
        	<%= link_to("delete", {:action => 'delete', :id => user.id}, :class => 'action delete') %>
        </td>

       </tr>
        <% end %>

         <p>create a new user 
       <P>
          <%= link_to("new", {:action => 'new'}, :class => 'action new') %><br>
         
<button type="button" class="btn btn-default navbar-btn">
 <%= link_to('Home', {:controller => 'locations', :action => 'index'}) %>
</button>
          

