

<div id="key">
<%= pluralize(@users.size, 'user') %> found! 
<%= link_to image_tag("Businessman-50.png", :alt => "favicon" ) %>
provider
<%= link_to image_tag("Suitcase-50.png", :alt => "favicon" ) %>
Locations
<%= link_to image_tag("Money Bag-50.png", :alt => "favicon" ) %>
scholarships
</div>
<p>
<div id="container-fluid" >
      

      <% @users.each do |user| %>
          
  <div id="userblip" class="col-xs-6 col-md-4">  
        
    <div id="avatarinfo" >
            <%= image_tag user.avatar.url(:medium) %> 

     </div>

      <div id="userindexinfo">
        <h3><%= user.name %></h3>

          <b><%= link_to image_tag("Businessman-50.png", :alt => "favicon" ) %> </b>
            <%= user.provider %><br>


           <b><%= link_to image_tag("Suitcase-50.png", :alt => "favicon" ) %></b>

            <% user.locations.each do |location| %>
              <%= location.country_name  %>. 
            <% end %>

          <br> <b><%= link_to image_tag("Money Bag-50.png", :alt => "favicon" ) %> </b>
          <%= user.scholarships %><p>
      </div>
          

           
<div id ="user_crud" >
            

             <button type="button" class="btn btn-primary active">
            <%= link_to("see more!", {:action => 'show', :id => user.id}, :class => 'action show') %>
            </button>
              
      </div>
      
 </div>  

      <% end %>


    
</div>

