<%= pluralize(@users.size, 'user') %> found

<p>

<% @users.each do |user| %>
      <tr>
      	<br>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.id %></td>
        <br>
        <td class="actions">

          
        	<%= link_to("show", {:action => 'show', :id => user.id}, :class => 'action show') %>
        	<%= link_to("edit", {:action => 'edit', :id => user.id}, :class => 'action show') %>
        	<%= link_to("delete", {:action => 'delete', :id => user.id}, :class => 'action delete') %>
        </td>

       </tr>
        <% end %>
         <p>create a new user 
       <br>
          <%= link_to("new", {:action => 'new'}, :class => 'action new') %>