<%= form_for(:user, :url => {:action => 'create'}) do |f| %>

<th><%= f.label(:name, "Name") %></th>
    <td><%= f.text_field(:name) %></td>
    <p>
    <th><%= f.label(:email, "Email ") %></th>
    <td><%= f.text_field(:email) %></td>
    <br>
<%= submit_tag("create user") %>
  <% end %>