<div id="main-container" class="container-fluid">
	<div class="row">

		<div id="username" class="col-md-4">

			<% provide(:title, @user.name) %>
			<h1>
			  
			<%= image_tag @user.avatar.url(:small) %>
			<td><%= @user.name %></td></h1>
		        
			 My provider! <br>
			<%= @user.provider %><p>
			 Scholarships <br>
			<%= @user.scholarships %><p>

			 Places ive been to! <br>
			<% @user.locations.each do |location| %>
			<%= location.country_name  %><br>
			<% end %>

			<p>
			<p>

			<% if user_signed_in? %>
	        <h3>talk to me bro </h3>
	        <%= @user.email %>

	        	<p>
	        		            
		            <button type="button" class="btn btn-danger">
		            <%= link_to("delete", {:action => 'delete', :id => @user.id}, :class => 'action delete') %>
		        	</button>
	            
	            
		            <button type="button" class="btn btn-primary">
					<%= link_to("edit", {:action => 'edit', :id => @user.id}, :class => 'action show') %>
					</button>
				
	        <% else %>
	        Sign in to email me 
	    	<% end %>
	      
		</div>

		<div id="usersecondinfo" class="col-md-4">
			<p>
			<h3> A summary of my awesome time!</h3>
			<p>
			<%= @user.description %><p>

			<%= image_tag @user.photo.url(:medium) %>
			<!--<%= @user.trip_images.each do |t| %> 
			<%= t.photo_url %>
			   <%= image_tag t.photo_url(:thumb) %>
			<% end %>-->
		</div>
	</div>
</div>




<!--<% for role in User::ROLES %>
  <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
  <%= label_tag "user_roles_#{role}", role.to_s.humanize %><br />
<% end %>
<%= hidden_field_tag "user[roles][]", "" %> -->

<button type="button" class="btn btn-info">
	<%= link_to('back', {:action => 'index'}) %>
</button>

