

<head>
<%= render 'header' %>
</head>
<table>
 
<body> 
  <div id="supercontainer">
<div id='map'></div>

<script type="text/javascript">

L.mapbox.accessToken = 'pk.eyJ1IjoidG9mdXRpZ2VyIiwiYSI6IlJuMjNxVmMifQ.qrv1pv_2p7_zDc9P22__0w';

var southWest = L.latLng(-40.90, 174.88),
    northEast = L.latLng(56.13, -106.34),
    bounds = L.latLngBounds(southWest, northEast);

var map = L.mapbox.map('map', 'tofutiger.kgj1840m', {
        minZoom: 2,
        maxZoom: 12,
        maxBounds: bounds,
       
    }).setView([35, -72.50], 3);


<% @locations.each do |location| %>

location.address
var map_latitude = <%=  location.latitude %>;
var map_longitude = <%=  location.longitude %>;

var marker = L.marker([map_latitude,map_longitude]).addTo(map);
marker.bindPopup("<b>Hello world!</b><br>I am a popup.")
<% end %>

</script>



<div id="buttonquote" class="col-xs-12 col-md-8">

  <div id="quote" class="col-xs-6 col-md-4">
    <h3>
    “One’s destination is never a place, but a new way of seeing things.”<br>
― Wayne Gretzky
  <h3>
  </div>


  <div id="buttons_home" class="col-xs-6 col-md-4">
    
     <button type="button" class="btn btn-success btn-lg active">
    <%= link_to 'make your mark!', new_location_path %>
    </button>

    <p>
      <button type="button" class="btn btn-primary btn-lg active">
        <%= link_to('EXPLORE!', {:controller => 'user', :action => 'index'}) %>
      </button>
    
  </div>
</div>

<thead>
    <tr>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>


    <% @locations.each do |location| %>
      <tr>
        <td><%= location.country_name %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= button_to 'Destroy', location_path(location), method: :delete, data: { confirm: 'Are you sure?', } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>

</div>
</body>