<!DOCTYPE html>
<html>
<head>
	
	
  <title>Louis's Capstone!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="globalheader">		

		<%= link_to image_tag("shepherd-blackCS.png", :alt => "favicon" ) %>
		
			<button type="button" class="btn btn-primary active">
	        <%= link_to('Home', {:controller => 'locations', :action => 'index'}) %>
	        </button>
	        <button type="button" class="btn btn-primary active">
	        <%= link_to('About', {:controller => 'user', :action => 'map'}) %>
	        </button>

    	<div id="usernav">
    		<% if user_signed_in? %>
	        Welcome <%= current_user.name %>!

	       <button type="button" class="btn btn-warning">
        <%= link_to("Profile", {:controller => 'user', :action => 'show', :id => current_user.id}, :class => 'action show') %>
        </button>
	        <% else %>
	        Welcome!
	    	<% end %>
	        
			<%= render 'users/menu/login_items' %>	
		</div>	

	</div>

<%= yield %>

</body>
</html>
