<!DOCTYPE html>
<html>
<head>
	
	
  <title>Louis's Capstone!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="globalheader">		
		<button type="button" class="btn btn-primary active">
        <%= link_to('Home', {:controller => 'locations', :action => 'index'}) %>
        </button>
    	<div id="usernav">
    		<% if user_signed_in? %>
	        Welcome <%= current_user.name %>!
	        <% else %>
	        Sup dawg
	    	<% end %>
	        <%= render 'users/menu/registration_items' %>
			<%= render 'users/menu/login_items' %>	
		</div>	

	</div>

<%= yield %>

</body>
</html>
